<!DOCTYPE html>
<html lang="en">
<head> <!-- HEAD -->
    <meta charset="UTF-8">
    <title>House Price Prediction Model</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header> <!-- header -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">House Price Prediction Model</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"></button>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav"> <!-- Barra de Navegacion -->
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:5000/">Home</a>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('blog') }}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('faq') }}">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('privacy_policy') }}">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('terms_and_conditions') }}">Terms and Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </header>
    <main>
        <article id="formulario-contacto">
            <form method="POST" action="http://localhost:5000/usuarios">
              <label for="nombre">Name:</label>
              <input type="text" id="nombre" name="nombre" style="background-color: #e6f7ff;" required>
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" style="background-color: #e6f7ff;" required>
              <label for="mensaje">Message:</label>
              <textarea id="mensaje" name="mensaje" required></textarea>
              <input type="submit" value="Enviar">
            </form>
          </article>
     
        
        <article> <!-- Second Article, PUBLICIDAD y SCRIPTS -->
            <aside>
                <h2>Advertising</h2>
                <div id="anuncios">
                  <script>
                    var anuncios = [
                      { imagen: "/static/img/propiedad1.jpg", texto: "Encuentra la casa de tus sueños con nosotros" },
                      { imagen: "/static/img/propiedad2.jpg", texto: "¿Quieres saber el valor de tu casa? ¡Usa nuestro software!" },
                      { imagen: "/static/img/propiedad3.jpg", texto: "Somos líderes en el mercado inmobiliario" },
                      { imagen: "/static/img/propiedad4.jpg", texto: "Estás buscando comprar o vender una propiedad? Con nuestro software de predicción de precios, tendrás información precisa para tomar la mejor decisión." },
                      { imagen: "/static/img/propiedad5.jpg", texto: "¿No sabes cuál es el valor real de tu propiedad? Con nuestro software, podrás obtener una estimación precisa en cuestión de minutos." },
                      { imagen: "/static/img/propiedad6.jpg", texto: "¿Quieres evitar perder dinero al vender tu propiedad? Nuestro software de predicción de precios te ayudará a poner el precio correcto desde el principio." },
                      { imagen: "/static/img/propiedad7.jpg", texto: "Con nuestro software de predicción de precios, obtendrás información actualizada y precisa sobre el valor de las propiedades en tu zona, lo que te permitirá tomar decisiones informadas." },
                      { imagen: "/static/img/servicio1.jpg", texto: "Nuestros software pueden predecir cualquier cosa que necesites" },
                      { imagen: "/static/img/servicio2.jpg", texto: "Descubre el poder de la inteligencia artificial con nuestro software" },
                      { imagen: "/static/img/servicio3.jpg", texto: "Ahorra tiempo y dinero con nuestro software de IA" },
                      { imagen: "/static/img/servicio4.jpg", texto: "Nuestro software con IA te ayuda a tomar decisiones informadas y precisas" },
                      { imagen: "/static/img/servicio5.jpg", texto: "Convierte tus datos en insights valiosos con nuestro software de IA" },
                      { imagen: "/static/img/servicio6.jpg", texto: "Simplifica tus procesos y aumenta tu eficiencia con nuestro software de IA" },
                      { imagen: "/static/img/servicio7.jpg", texto: "Obtén resultados precisos y en tiempo real con nuestro software de inteligencia artificial." }
                    ];
                    
                    for (var i = 0; i < 4; i++) {
                      var indiceAnuncio = Math.floor(Math.random() * anuncios.length);
                      var imagenAnuncio = document.createElement("img");
                      imagenAnuncio.src = anuncios[indiceAnuncio].imagen;
                      imagenAnuncio.alt = anuncios[indiceAnuncio].texto;
                      document.getElementById("anuncios").appendChild(imagenAnuncio);
                      var textoAnuncio = document.createElement("p");
                      textoAnuncio.textContent = anuncios[indiceAnuncio].texto;
                      document.getElementById("anuncios").appendChild(textoAnuncio);
                    }
                  </script>
                </div>
              </aside>
        </article>    
    </main>
    <footer> <!-- Foother -->
        <div class="container-fluid bg-light">
            <div class="container py-3">
                <div class="row">
                    <div class="col-md-4">
                        <h4>House Price Prediction Model</h4>
                        <p>This website uses a machine learning model to predict the price of a home based on its area, number of bedrooms, number of bathrooms, and location. This model was trained with data on home sales in the city of Cali, Colombia.</p>
                    </div>
                    <div class="col-md-4">
                        <h4>Contact Us</h4>
                        <ul class="list-unstyled">
                            <li><i class="fas fa-envelope"></i> 3439@holbertonstudents.com - 3895@holbertonstudents.com</li>
                            <li><i class="fas fa-phone"></i>333-33-33</li>
                            <li><i class="fas fa-map-marker-alt"></i> Zona America Holberton School</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4>Follow us on</h4>
                        <ul class="list-unstyled">
                            <li><a href="#"><img src="/static/img/github_loge.png" class="icon-github"> Github</a></li>
                            <li><a href="#"><img src="/static/img/slack_loge.png" class="icon-slack"> Slack</a></li>
                            <li><a href="#"><img src="/static/img/stackoverflow_loge.png" class="icon-stackoverflow"> Stackoverflow</a></li>
                            <li><a href="#"><img src="/static/img/facebook_loge.png" class="icon-facebook"> Facebook</a></li>
                            <li><a href="#"><img src="/static/img/twitter_loge.png" class="icon-twitter"> Twitter</a></li>
                            <li><a href="#"><img src="/static/img/instagram_loge.png" class="icon-instagram"> Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <sc|ript src="/static/js/bootstrap.bundle.min.js"></sc|ript>
</body>
</html>
