<!DOCTYPE html>
<html lang="en">
<head> <!-- HEAD -->
    <meta charset="UTF-8">
    <title>House Price Prediction Model</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header> <!-- header -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">House Price Prediction Model</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"></button>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav"> <!-- Barra de Navegacion -->
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contactus') }}">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('blog') }}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('faq') }}">FAQ</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('privacy_policy') }}">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('terms_and_conditions') }}">Terms and Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </header>
    <main>
        <article> <!-- First article-->

            <div class="faq section-faq">
                <div class="faq-content">
                    <h3>Privacy Policy</h3>
                    <h4>Introduction</h4>
                    <p>This document establishes the Privacy Policy (hereinafter, the "Policy") of [Name of the company] (hereinafter, the "Owner"), responsible for the housing price prediction software (hereinafter, the "Software ”).</p>
                    <p>The Owner undertakes to protect the privacy of the users of the Software and to guarantee that the information that is collected and used is treated in a responsible and secure manner.</p>
                </div>
            </div>      
         
            <div class="faq section-faq">
                <div class="faq-content">
                    <h3>Information gathering</h3
                    <p>The Software collects and uses information for the purpose of providing a quality home price forecasting service. The information collected may include, but is not limited to, the following data:
                        Contact information, such as name, email address, and phone number.</p>
                    <p>The Software collects and uses information for the purpose of providing a quality home price forecasting service. The information collected may include, but is not limited to, the following data:
            Contact information, such as name, email address, and phone number.</p>
                    <p>Demographic information, such as age, gender, occupation, and educational level.</p>
                    <p>Location information, such as the city or country of residence.</p>
                    <p>Transaction information, such as home purchase and sales history.</p>
                    <p>The Owner undertakes to collect the information in a legal and transparent manner and to guarantee that users give their explicit consent for the processing of the information.</p>

                </div>
            </div>
            <div class="faq section-faq">
                <div class="faq-content">
                    <h3>Use of information</h3>
                    <p>The information collected is used to provide a quality and personalized home price forecasting service and to improve the operation of the Software. The Owner undertakes to use the information responsibly and to ensure that it is protected against unauthorized access, disclosure or misuse.</p>
                    <p>The Owner undertakes not to sell, rent or exchange user information with third parties without their explicit consent. In the event that access to the information is required by third parties, the Owner will ensure that the necessary security requirements are met and that the privacy rights of the users are respected.</p>
                </div>
            </div>
            
            <div class="faq section-faq">
                <div class="faq-content">
                    <h3>User rights</h3>
                    <p>Users have the right to request access, rectification, deletion or limitation of the processing of their personal information, as well as to oppose the processing of said information. The Owner undertakes to respect these rights and to provide users with the necessary information to exercise them.</p>
                    <p>The Owner undertakes to protect the privacy of users and to comply with the applicable laws and regulations regarding the protection of personal data.</p>
                </div>
            </div>
            
            <div class="faq section-faq">
                <div class="faq-content">
                    <h3>Privacy Policy Changes</h3>
                    <p>The Holder reserves the right to modify this Policy at any time and without prior notice. The Owner will publish the updates of the Policy on its website and will apply the modifications from the date of publication. Users are encouraged to periodically review the Policy for changes and updates.</p>
                </div>
            </div>

            <div class="faq section-faq">
                <div class="faq-content">
                    <h3>Contact</h3>
                    <p>For any questions or comments about the Privacy Policy, users can contact the Owner through the communication channels available in the Software.
                        Update date: [Privacy Policy update date]</p>
                </div>
            </div>
            
            <div class="faq section-faq">
                <div class="faq-content">
                    <h3>Use of Personal Information</h3>
                    <p>We are committed to protecting your privacy and collecting only the information necessary to provide you with our home price forecasting services. We collect personal information from users when they register for the software, including their full name, email address, and phone number. We may also collect non-personal information such as the type of device you use to access the Software, your IP address, and your geographic location.</p>
                    <p>The information collected is used to provide better service to our users, to improve our software, and to personalize the user experience. We may also use the information for market analysis purposes and for advertising purposes, subject to obtaining your prior consent.</p>
                </div>
            </div>
            <div class="faq section-faq">
                <div class="faq-content">
                    <h3>Share information</h3>
                    <p>We do not sell or share your personal information with third parties, except as necessary to provide our services or as required by law. We may share non-personal information with third parties for advertising or market analysis purposes.</p>
                </div>
            </div>
            
            <div class="faq section-faq">
                <div class="faq-content">
                    <h3>Security of the information</h3>
                    <p>We are committed to protecting our users' personal information and to implementing appropriate security measures to prevent unauthorized access, use or disclosure of such information. We implement physical, technical, and administrative measures to protect your personal information and regularly update our security policies and procedures.</p>
                </div>
            </div>
            <div class="faq section-faq">
                <div class="faq-content">
                    <h3>User Rights</h3>
                    <p>Users have the right to access, modify or delete their personal information at any time. If you wish to exercise any of these rights, please contact us through the communication channels available in the software.</p>
                    <h4>Privacy Policy Changes</h4>
                    <p>We reserve the right to act</p>
                </div>
            </div>
            
        </article>
        
        <article> <!-- Second Article -->
            <aside>
                <h2>Advertising</h2>
                <div id="anuncios">
                  <script>
                    var anuncios = [
                      { imagen: "/static/img/propiedad1.jpg", texto: "Encuentra la casa de tus sueños con nosotros" },
                      { imagen: "/static/img/propiedad2.jpg", texto: "¿Quieres saber el valor de tu casa? ¡Usa nuestro software!" },
                      { imagen: "/static/img/propiedad3.jpg", texto: "Somos líderes en el mercado inmobiliario" },
                      { imagen: "/static/img/propiedad4.jpg", texto: "Estás buscando comprar o vender una propiedad? Con nuestro software de predicción de precios, tendrás información precisa para tomar la mejor decisión." },
                      { imagen: "/static/img/propiedad5.jpg", texto: "¿No sabes cuál es el valor real de tu propiedad? Con nuestro software, podrás obtener una estimación precisa en cuestión de minutos." },
                      { imagen: "/static/img/propiedad6.jpg", texto: "¿Quieres evitar perder dinero al vender tu propiedad? Nuestro software de predicción de precios te ayudará a poner el precio correcto desde el principio." },
                      { imagen: "/static/img/propiedad7.jpg", texto: "Con nuestro software de predicción de precios, obtendrás información actualizada y precisa sobre el valor de las propiedades en tu zona, lo que te permitirá tomar decisiones informadas." },
                      { imagen: "/static/img/servicio1.jpg", texto: "Nuestros software pueden predecir cualquier cosa que necesites" },
                      { imagen: "/static/img/servicio2.jpg", texto: "Descubre el poder de la inteligencia artificial con nuestro software" },
                      { imagen: "/static/img/servicio3.jpg", texto: "Ahorra tiempo y dinero con nuestro software de IA" },
                      { imagen: "/static/img/servicio4.jpg", texto: "Nuestro software con IA te ayuda a tomar decisiones informadas y precisas" },
                      { imagen: "/static/img/servicio5.jpg", texto: "Convierte tus datos en insights valiosos con nuestro software de IA" },
                      { imagen: "/static/img/servicio6.jpg", texto: "Simplifica tus procesos y aumenta tu eficiencia con nuestro software de IA" },
                      { imagen: "/static/img/servicio7.jpg", texto: "Obtén resultados precisos y en tiempo real con nuestro software de inteligencia artificial." }
                    ];
                    
                    for (var i = 0; i < 4; i++) {
                      var indiceAnuncio = Math.floor(Math.random() * anuncios.length);
                      var imagenAnuncio = document.createElement("img");
                      imagenAnuncio.src = anuncios[indiceAnuncio].imagen;
                      imagenAnuncio.alt = anuncios[indiceAnuncio].texto;
                      document.getElementById("anuncios").appendChild(imagenAnuncio);
                      var textoAnuncio = document.createElement("p");
                      textoAnuncio.textContent = anuncios[indiceAnuncio].texto;
                      document.getElementById("anuncios").appendChild(textoAnuncio);
                    }
                  </script>
                </div>
              </aside>
        </article>    
    </main>
    <footer> <!-- Foother -->
        <div class="container-fluid bg-light">
            <div class="container py-3">
                <div class="row">
                    <div class="col-md-4">
                        <h4>House Price Prediction Model</h4>
                        <p>This website uses a machine learning model to predict the price of a home based on its area, number of bedrooms, number of bathrooms, and location. This model was trained with data on home sales in the city of Cali, Colombia.</p>
                    </div>
                    <div class="col-md-4">
                        <h4>Contact Us</h4>
                        <ul class="list-unstyled">
                            <li><i class="fas fa-envelope"></i> 3439@holbertonstudents.com - 3895@holbertonstudents.com</li>
                            <li><i class="fas fa-phone"></i>333-33-33</li>
                            <li><i class="fas fa-map-marker-alt"></i> Zona America Holberton School</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4>Follow us on</h4>
                        <ul class="list-unstyled">
                            <li><a href="#"><img src="/static/img/github_loge.png" class="icon-github"> Github</a></li>
                            <li><a href="#"><img src="/static/img/slack_loge.png" class="icon-slack"> Slack</a></li>
                            <li><a href="#"><img src="/static/img/stackoverflow_loge.png" class="icon-stackoverflow"> Stackoverflow</a></li>
                            <li><a href="#"><img src="/static/img/facebook_loge.png" class="icon-facebook"> Facebook</a></li>
                            <li><a href="#"><img src="/static/img/twitter_loge.png" class="icon-twitter"> Twitter</a></li>
                            <li><a href="#"><img src="/static/img/instagram_loge.png" class="icon-instagram"> Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <sc|ript src="/static/js/bootstrap.bundle.min.js"></sc|ript>
</body>
</html>
