<!DOCTYPE html>
<html lang="en">
<head> <!-- HEAD -->
    <meta charset="UTF-8">
    <title>Termns and Conditions</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header> <!-- header -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">House Price Prediction Model</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"></button>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav"> <!-- Barra de Navegacion -->
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contactus') }}">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('blog') }}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('faq') }}">FAQ</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('privacy_policy') }}">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('terms_and_conditions') }}">Terms and Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </header>
    <main>
        <article>
            <div class="faq section-faq">
                <div class="faq-content">
                    <h3>Terms and Conditions</h3>
                    <p>These terms and conditions (the "Terms and Conditions") govern your use of this home price forecasting software (the "Software"). By using this Software, you agree to these Terms and Conditions in their entirety. If you do not agree to these Terms and Conditions, do not use the Software.</p>
                </div>
            </div>

            <div class="faq section-faq">
                <div class="faq-content">
                    <h3>Software Ownership</h3>
                    <p>This Software is the property of the copyright holder and is protected by intellectual property laws. Use of this Software does not grant you any ownership rights in the Software.</p>
                </div>
            </div>
            <div class="faq section-faq">
                <div class="faq-content">
                    <h3>License</h3>
                    <p>The copyright holder grants you a limited, non-exclusive, non-transferable license to use the Software for the purpose of making home price predictions. You are not permitted to sublicense, sell, transfer or distribute the Software to any third party.</p>
                </div>
            </div>

            <div class="faq section-faq">
                <div class="faq-content">
                    <h3>Use of Software</h3>
                    <p>You agree to use the Software only for lawful purposes and in accordance with these Terms and Conditions. You may not use the Software in any way that could damage, disable, overburden, or adversely affect the Software or any related services or systems. You agree not to access the Software in any manner other than through the interfaces provided by the copyright holder.</p>
                </div>
            </div>
            <div class="faq section-faq">
                <div class="faq-content">
                    <h3>Information Accuracy</h3>
                    <p>The Software provides home price predictions based on mathematical algorithms. The information provided by the Software is a prediction and not a guarantee of future results. The copyright holder does not guarantee the accuracy of the predictions provided by the Software and is not responsible for any loss or damage that may result from the use of the information provided by the Software.</p>
                </div>
            </div> 

            <div class="faq section-faq">
                <div class="faq-content">
                    <h3>Data Protection</h3>
                    <p>The Software collects and uses information about property and home prices to make predictions. The copyright holder undertakes to protect your personal information in accordance with applicable data protection laws and regulations.</p>
                </div>
            </div>
            <div class="faq section-faq">
                <div class="faq-content">
                    <h3>Exclusion of guarantees</h3>
                    <p>The Software is provided "as is" and without warranty of any kind, express or implied. The copyright holder does not warrant that the Software is secure, error-free, uninterrupted, or meets your requirements. The copyright holder is not responsible for any loss or damage that may result from the use of the Software.</p>
                </div>
            </div>                         

            <div class="faq section-faq">
                <div class="faq-content">
                    <h3>Limitation of Liability</h3>
                    <p>To the extent permitted by applicable law, the copyright holder shall not be liable for any direct, indirect, incidental, special, or consequential loss or damage arising out of the use of the Software, including, but not limited to, damages for loss of profits, business interruption, loss of information or programs or other data in your information system, or any other financial or commercial damages, even if the copyright owner has been advised of the possibility of such damages. In any event, the copyright holder's total liability for any claim, whether in contract, warranty, negligence, or any other legal theory, will not exceed the amount you have paid to license the Software.</p>
                </div>
            </div>
            <div class="faq section-faq">
                <div class="faq-content">
                    <h3>Intellectual Property Rights</h3>
                    <p>The Software and all related documentation are the exclusive property of the copyright holder and are protected by applicable intellectual property laws. You acknowledge that all intellectual property rights in and to the Software and its documentation are owned by the copyright holder and its licensors and are protected by applicable intellectual property laws.</p>
                    <p>You agree not to copy, modify, adapt, translate, reverse engineer, decompile, or disassemble the Software or related documentation, or attempt to do so, except to the extent permitted by applicable law.</p>
                    <p>You acknowledge that the Software and related documentation are valuable business assets of the copyright holder, and that any unauthorized use of the Software and related documentation will irreparably harm the business interests of the copyright holder.</p>

                </div>
            </div>
            <div class="faq section-faq">
                <div class="faq-content">
                    <h3>Compensation</h3>
                    <p>You agree to indemnify, defend, and hold harmless the copyright owner and its directors, officers, employees, agents, licensors, and service providers from and against any and all claims, liabilities, damages, costs, and expenses, including, but not limited to, reasonable attorneys' fees, arising out of or in connection with your use of the Software or your violation of these terms and conditions.</p>
                </div>
            </div>
        </article>
        
        <article> <!-- Second Article -->
            <aside>
                <h2>Advertising</h2>
                <div id="anuncios">
                  <script>
                    var anuncios = [
                      { imagen: "/static/img/propiedad1.jpg", texto: "Encuentra la casa de tus sueños con nosotros" },
                      { imagen: "/static/img/propiedad2.jpg", texto: "¿Quieres saber el valor de tu casa? ¡Usa nuestro software!" },
                      { imagen: "/static/img/propiedad3.jpg", texto: "Somos líderes en el mercado inmobiliario" },
                      { imagen: "/static/img/propiedad4.jpg", texto: "Estás buscando comprar o vender una propiedad? Con nuestro software de predicción de precios, tendrás información precisa para tomar la mejor decisión." },
                      { imagen: "/static/img/propiedad5.jpg", texto: "¿No sabes cuál es el valor real de tu propiedad? Con nuestro software, podrás obtener una estimación precisa en cuestión de minutos." },
                      { imagen: "/static/img/propiedad6.jpg", texto: "¿Quieres evitar perder dinero al vender tu propiedad? Nuestro software de predicción de precios te ayudará a poner el precio correcto desde el principio." },
                      { imagen: "/static/img/propiedad7.jpg", texto: "Con nuestro software de predicción de precios, obtendrás información actualizada y precisa sobre el valor de las propiedades en tu zona, lo que te permitirá tomar decisiones informadas." },
                      { imagen: "/static/img/servicio1.jpg", texto: "Nuestros software pueden predecir cualquier cosa que necesites" },
                      { imagen: "/static/img/servicio2.jpg", texto: "Descubre el poder de la inteligencia artificial con nuestro software" },
                      { imagen: "/static/img/servicio3.jpg", texto: "Ahorra tiempo y dinero con nuestro software de IA" },
                      { imagen: "/static/img/servicio4.jpg", texto: "Nuestro software con IA te ayuda a tomar decisiones informadas y precisas" },
                      { imagen: "/static/img/servicio5.jpg", texto: "Convierte tus datos en insights valiosos con nuestro software de IA" },
                      { imagen: "/static/img/servicio6.jpg", texto: "Simplifica tus procesos y aumenta tu eficiencia con nuestro software de IA" },
                      { imagen: "/static/img/servicio7.jpg", texto: "Obtén resultados precisos y en tiempo real con nuestro software de inteligencia artificial." }
                    ];
                    
                    for (var i = 0; i < 4; i++) {
                      var indiceAnuncio = Math.floor(Math.random() * anuncios.length);
                      var imagenAnuncio = document.createElement("img");
                      imagenAnuncio.src = anuncios[indiceAnuncio].imagen;
                      imagenAnuncio.alt = anuncios[indiceAnuncio].texto;
                      document.getElementById("anuncios").appendChild(imagenAnuncio);
                      var textoAnuncio = document.createElement("p");
                      textoAnuncio.textContent = anuncios[indiceAnuncio].texto;
                      document.getElementById("anuncios").appendChild(textoAnuncio);
                    }
                  </script>
                </div>
              </aside>
        </article>    
    </main>
    <footer> <!-- Foother -->
        <div class="container-fluid bg-light">
            <div class="container py-3">
                <div class="row">
                    <div class="col-md-4">
                        <h4>House Price Prediction Model</h4>
                        <p>This website uses a machine learning model to predict the price of a home based on its area, number of bedrooms, number of bathrooms, and location. This model was trained with data on home sales in the city of Cali, Colombia.</p>
                    </div>
                    <div class="col-md-4">
                        <h4>Contact Us</h4>
                        <ul class="list-unstyled">
                            <li><i class="fas fa-envelope"></i> 3439@holbertonstudents.com - 3895@holbertonstudents.com</li>
                            <li><i class="fas fa-phone"></i>333-33-33</li>
                            <li><i class="fas fa-map-marker-alt"></i> Zona America Holberton School</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4>Follow us on</h4>
                        <ul class="list-unstyled">
                            <li><a href="#"><img src="/static/img/github_loge.png" class="icon-github"> Github</a></li>
                            <li><a href="#"><img src="/static/img/slack_loge.png" class="icon-slack"> Slack</a></li>
                            <li><a href="#"><img src="/static/img/stackoverflow_loge.png" class="icon-stackoverflow"> Stackoverflow</a></li>
                            <li><a href="#"><img src="/static/img/facebook_loge.png" class="icon-facebook"> Facebook</a></li>
                            <li><a href="#"><img src="/static/img/twitter_loge.png" class="icon-twitter"> Twitter</a></li>
                            <li><a href="#"><img src="/static/img/instagram_loge.png" class="icon-instagram"> Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <sc|ript src="/static/js/bootstrap.bundle.min.js"></sc|ript>
</body>
</html>
